.time-boxes, .timer-display {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-boxes {
  gap: 5px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  z-index: 20;
}

.time-box {
  background-color: #1c3f3f;
  color: var(--primary-color);
  max-width: 250px;
  max-height: 140px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: grab;
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s;
  gap: 5px;
}

.time-box:hover {
  background-color: #285757;
  box-shadow: var(--hover-glow);
}

.time-box:active {
  cursor: grabbing;
  box-shadow: var(--active-glow);
  border: 2px solid var(--accent-color);
}

.time-box button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 0.5em;
  padding: 10px;
}

.time-box button h2 {
    margin: 0px;
    padding: 0px;
    line-height: normal;
    font-size: 1.2rem;
}

.time-box button p {
    margin: 0px;
    padding: 0px;
    line-height: normal;
    font-size: 0.7rem;
}

.time-box button:hover {
  background-color: #285757;
}