

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0px;
    padding: 0px;
    background-color: black; /* Change header background to black */
    align-items: center; /* Center align items vertically */
}

.header .left-section {
    display: flex;
    align-items: center;
    gap: 10px; /* Add spacing between buttons */
}

.header .right-section {
    display: flex;
    align-items: center;
    gap: 10px; /* Add spacing between logo and title */
    padding: 10px 20px;
}

.header img.logo {
    height: 100px; /* Adjust the height as needed */
    margin-right: 10px; /* Add some space between the image and the title */
}

.header h1 {
    font-size: 2rem;
    font-family: var(--font-primary);
    padding: 0px;
    margin: 0px;
}

.header button {
    background-color: #1c3f3f;
    color: var(--primary-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 0.5em;
    font-family: var(--font-primary);
    height: 2em; /* Double the height */
  }
  
  .header button:hover {
    background-color: #285757;
    box-shadow: var(--hover-glow);
  }
  
  .header .lock-button {
    background-color: #1c3f3f;
    color: var(--primary-color);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-size: 0.5em;
    font-family: var(--font-primary);
    margin-left: 10px; /* Add some space between the title and the button */
    margin-right: 10px; /* Add some space between the lock and settings buttons */
    height: 2em; /* Double the height */
  }
  
  .header .lock-button:hover {
    background-color: #285757;
    box-shadow: var(--hover-glow);
  }
  
  .header .button-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Add spacing between buttons */
  }
  
  .header .button-container button {
    height: 2em; /* Double the height */
    padding: 10px 20px; /* Ensure consistent padding */
  }