@import './variables.css';

/* HomePage styles */
.home-page {
  font-family: var(--font-secondary);
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 20px;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

header h1 {
  font-size: 2rem;
  font-family: var(--font-primary);
}

header button {
  background-color: #1c3f3f;
  color: var(--primary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 0.5em;
  font-family: var(--font-primary);
  height: 2em; /* Double the height */
}

header button:hover {
  background-color: #285757;
  box-shadow: var(--hover-glow);
}

header .lock-button {
  background-color: #1c3f3f;
  color: var(--primary-color);
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 0.5em;
  font-family: var(--font-primary);
  margin-left: 10px; /* Add some space between the title and the button */
  margin-right: 10px; /* Add some space between the lock and settings buttons */
  height: 2em; /* Double the height */
}

header .lock-button:hover {
  background-color: #285757;
  box-shadow: var(--hover-glow);
}

header .button-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between buttons */
}

header .button-container button {
  height: 2em; /* Double the height */
  padding: 10px 20px; /* Ensure consistent padding */
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.time-boxes, .timer-display, .timer-log-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.time-boxes {
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.time-box {
  background-color: #1c3f3f;
  color: var(--primary-color);
  width: 250px;
  height: 150px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: grab;
  transition: transform 0.2s ease, background-color 0.3s ease, box-shadow 0.3s;
}

.time-box:hover {
  background-color: #285757;
  box-shadow: var(--hover-glow);
}

.time-box:active {
  cursor: grabbing;
  box-shadow: var(--active-glow);
}

.time-box.active {
  border: 2px solid var(--accent-color); /* Highlight active timer */
}

.time-box button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  font-size: 0.5em; /* Adjust font size */
  line-height: 50%;
}

.time-box button:hover {
  background-color: #285757;
}

.timer-display {
  margin-top: 20px;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-display h1 {
  font-size: 5rem;
  color: var(--primary-color);
  font-family: var(--font-primary);
}

.timer-display button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #1c3f3f;
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 0.75em;
}

.timer-display button:disabled {
  background-color: #2c4f4f;
  cursor: not-allowed;
}

.timer-display button:hover:not(:disabled) {
  background-color: #285757;
  box-shadow: var(--hover-glow);
}

.timer-controls {
  margin-top: 20px;
  padding: 10px;
  background-color: #1c3f3f;
  color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.timer-log-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.timer-log-sub-container {
  width: 50%; /* Make it half width */
  height: 100%;
  font-size: 0.25em; /* Reduce font size by 1/3 */
  justify-content: flex-end;
  align-content: flex-end;
  align-items: flex-end;
}

.timer-log {
  overflow-y: auto;
  background-color: #1c3f3f;
  align-self: right;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%; /* Ensure it takes full width */
  height: 100%; /* Ensure it takes full height */
}

.timer-log h3 {
  margin-top: 0;
  font-family: var(--font-primary);
}

.timer-log ul {
  list-style: none;
  padding: 0;
}

.timer-log li {
  padding: 5px 0;
  border-bottom: 1px solid #2c4f4f;
}

.timer-log li:nth-child(odd) {
  background-color: #2c4f4f;
}