@import '../../styles/variables.css';

.left-section {
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
}

.left-section > * {
    width: 100%;
}

.right-section {
    float: right;
    width: 50%;
    text-align: right;
}

.content {
    width: 100%;
}