@import '../../styles/variables.css';

/* HomePage styles */
.home-page {
  font-family: var(--font-secondary);
  background-color: var(--background-color);
  color: var(--text-color);
  height: calc(100vh - 100px);
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.header {
  width: 100%;
  z-index: 10; /* Ensure Header is above other elements */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
}

.current-time {
  position: absolute;
  top: 10px; /* Adjust as needed */
  right: 10px; /* Adjust as needed */
  z-index: 10; /* Ensure it is above other elements */
  padding: 5px; /* Optional: Add padding for better appearance */
  border-radius: 5px; /* Optional: Add border radius for better appearance */
}

.time-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  left: 0;
  z-index: 0;
  width: 50%;
  padding: 16px 24px;
}

.timer-display {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-display h1 {
  font-size: 5rem;
  color: var(--primary-color);
  font-family: var(--font-primary);
}

.timer-display button {
  margin: 5px;
  padding: 10px 20px;
  background-color: #1c3f3f;
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  font-size: 0.75em;
}

.timer-display button:disabled {
  background-color: #2c4f4f;
  cursor: not-allowed;
}

.timer-display button:hover:not(:disabled) {
  background-color: #285757;
  box-shadow: var(--hover-glow);
}

.timer-controls {
  margin-top: 20px;
  padding: 10px;
  background-color: #1c3f3f;
  color: var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
